.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 18px;
    list-style-type: none;
}

.cat-item-all {
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    color: $primaryContent;
}

.cat-item {
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    color: $primaryContent;
}

.current-cat {
    font-weight: bolder;
}