.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .menu-item {
        display: inline;
        padding: 0.5rem;
    }

    & .menu-item a {
        display: inline-block;
        padding: .5rem;
    }
}

@media (min-width: 1024px) {
    .footer-menu {
        align-items: flex-start;
    }
}