div.wpcf7 {
    margin-top: 2rem;
}

.wpcf7-response-output {
    border: none;
}

.form-group {
    text-align: center;
    padding: 1rem;

    & label {
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    & input,
    & textarea {
        text-align: center;
        padding: .5rem;
        max-width: 450px;
        width: 100%;
        border-radius: 10px;
        border: none;
        font-family: 'Poppins';
    }
    
    & .btn {
        display: inline-block;
        position: relative;
        max-width: 350px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    div.wpcf7 {
        margin-top: 4rem;
    }

    .wpcf7 {
        &-form {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin-left: auto;
            margin-right: 0;
            padding: 0 8rem;
        }
    }

    .form-group {
        text-align: left;
    }
}