.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger__inner {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: $darkContent;
    border-radius: 1rem;
    position: relative;
}

.hamburger--active .hamburger__inner::before {
    bottom: 0;
    transform: rotate(45deg);
}
.hamburger__inner::before {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: $darkContent;
    border-radius: 1rem;
    content: '';
    bottom: .5rem;
    left: 0;
}

.hamburger--active .hamburger__inner::after {
    top: 0;
    transform: rotate(-45deg);
}
.hamburger__inner::after {
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: $darkContent;
    border-radius: 1rem;
    content: '';
    top: .5rem;
    left: 0;
}

@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}