.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: calc(100vh - 79px);
    max-height: 700px;

    &__motto {
        max-width: 500px;
        margin: 0 auto;
    }

    &__image {
        width: 100%;
    }

    &__jump {
        display: none;
    }
}

@media (min-width: 1024px) {
    .home-banner {
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        margin: 0 auto;
        height: calc(100vh - 215px);

        &__box {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
        }

        &__jump {
            display: block;
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}

@media (min-width: 1440px) {
    .home-banner {
        position: relative;
        height: calc(100vh - 167px);
    }
}