@media (min-width: 1024px) {
    .home-blog {
        position: relative;
        margin-bottom: 16rem;

        &::after {
            content: url('assets/images/panther-circles.webp');
            position: absolute;
            bottom: -25%;
            right: 5%;
        }

        &.section-background::before {
            height: 100%;
        }
        & .section-background__title {
            max-width: 180px;
        }
    }
}