.home-contact-us-bottom {
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: url('assets/images/divider-background.webp');
    }

    &.home-contact-us-bottom--shops::before {
        background: url('assets/images/divider-background-green.webp');
    }

    &.home-contact-us-bottom--marketing::before {
        background: url('assets/images/divider-background-orange.webp');
    }

    &.home-contact-us-bottom--branding::before {
        background: url('assets/images/divider-background-purple.webp');
        background-size: cover;
    }

    &.home-contact-us-bottom--print::before {
        background: url('assets/images/divider-background-red.webp');
    }
}

@media (min-width: 1024px) {
    .home-contact-us-bottom {
        
        &::after {
            content: url('assets/images/circle.webp');
            position: absolute;
            top: 0;
            left: -500px;
        }
    }
}