.home-contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;

    &__item {
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &__item-description {
        display: block;
        margin-top: 2rem;
        letter-spacing: 4px;
    }

    &__item-value {
        display: none;
    }
}

@media (min-width: 1024px) {
    .home-contact {
        flex-direction: row;
        justify-content: space-around;
        max-width: 800px;
        margin: 4rem auto 0;
    }
}