.menu {
    display: none;
}

.menu-item {
    &:hover {
        font-weight: bolder;
    }

    &:active {
        color: $darkContent;
    }
}

.current-menu-item {
    color: $darkContent;
    font-weight: bolder;
}

.navigation--active .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1024px) {
    .menu {
        flex-basis: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1440px) {
    .menu {
        flex-basis: 50%;
    }
}