.navigation {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--active {
        height: 100vh;
    }

    &__top {
        display: none;
    }

    &__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 13px;
    }

    &__mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .navigation {
        max-width: 1400px;
        padding: 1rem 2rem;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
        }

        &__info {
            flex-basis: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__main {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 0;
        }
    }
}

@media (min-width: 1440px) {
    .navigation {
        &__info {
            flex-basis: 50%;
        }
    }
}