.offer-child-how-steps {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    .shops-how-steps &__title {
        color: $shopContent;
    }
}

@media (min-width: 1024px) {
    .offer-child-how-steps {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            max-width: 800px;
            margin-right: 0;
        }

        &__title {
            font-size: 3rem;
        }
    }
}