.offer-child-form {
    text-align: center;
    padding: 2rem 0;
    color: $lightContent;
    background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    & .btn input {
        background: transparent;
        color: $primaryContent;
        font-size: 20px;
        font-family: 'Annie Use Your Telescope', cursive;
        text-transform: lowercase;
    }

    &.shops-form {
        background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
    }

    &.shops-form .btn input {
        color: $shopContent;
    }

    &.shops-form .btn::after {
        color: $shopContent;
    }

    &.marketing-form {
        background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
    }

    &.marketing-form .btn input {
        color: $marketingContent;
    }

    &.marketing-form .btn::after {
        color: $marketingContent;
    }

    &.branding-form {
        background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
    }

    &.branding-form .btn input {
        color: $brandingContent;
    }

    &.branding-form .btn::after {
        color: $brandingContent;
    }

    &.print-form {
        background: linear-gradient(0, $printGradientStart, $printGradientEnd);
    }

    &.print-form .btn input {
        color: $printContent;
    }

    &.print-form .btn::after {
        color: $printContent;
    }

    &.contact-form {
        margin: 4rem 0;
    }
}

@media (min-width: 1024px) {
    .offer-child-form {
        position: relative;
        max-width: 1600px;
        padding: 4rem 0 10rem;
        border-top-right-radius: 150px;
        border-bottom-right-radius: 50px;
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100px;
            width: 100%;
            border-bottom-right-radius: 50px;
            background: url('assets/images/divider-background.webp');
        }

        &::before {
            content: '';
            position: absolute;
            top: 115px;
            left: 0;
            width: calc(50vw - -231px);
            height: 2px;
            background: $lightContent;
            opacity: .25;
        }

        &.contact-form::before {
            width: calc(50vw - 92px);
        }

        &__title {
            max-width: 800px;
            margin-left: auto;
            margin-right: 0;
            padding-right: 8rem;
            font-size: 3rem;
        }

        &.shops-form::after {
            background: url('assets/images/divider-background-green.webp');
        }

        &.marketing-form::after {
            background: url('assets/images/divider-background-orange.webp');
        }

        &.branding-form::after {
            background: url('assets/images/divider-background-purple.webp');
        }

        &.print-form::after {
            background: url('assets/images/divider-background-red.webp');
        }

        &.contact-form {
            margin: 8rem 0;
        }
    }

    .form-group {
        width: 100%;

        & .btn input {
            align-self: flex-end;
        }
    }
}

.offer-child-form-2 {
    position: relative;
    top: 100px;

    &.offer-child-form {
        border-bottom-right-radius: 0;
    }

    &.offer-child-form::after {
        content: none;
    }
}

@media (min-width: 1280px) {
    
    .offer-child-form {

        &::before {
            width: calc(50vw - -358px);
        }

        &.contact-form::before {
            width: calc(50vw - 136px);
        }
    }
}

@media (min-width: 1366px) {
    
    .offer-child-form {

        &::before {
            width: calc(50vw - -399px);
        }

        &.contact-form::before {
            width: calc(50vw - 213px);
        }
    }
}

@media (min-width: 1440px) {
    
    .offer-child-form {

        &::before {
            width: calc(50vw - -436px);
        }

        &.contact-form::before {
            width: calc(50vw - 230px);
        }
    }
}

@media (min-width: 1920px) {
    
    .offer-child-form {

        &::before {
            width: calc(50vw - -374px);
        }

        &.contact-form::before {
            width: calc(50vw - 275px);
        }
    }
}

@media (min-width: 2560px) {
    
    .offer-child-form {

        &::before {
            width: calc(50vw - -54px);
        }

        &.contact-form::before {
            width: calc(50vw - 380px);
        }
    }
}