.offer-child-stats {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    .marketing-stats &__title {
        color: $marketingContent;
    }

    .branding-stats &__title {
        color: $brandingContent;
    }

    .print-stats &__title {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .offer-child-stats {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            max-width: 800px;
            margin-right: 0;
        }

        &__title {
            font-size: 3rem;
        }
    }

    .offer-child-stats-container {
        position: relative;
    }

    .offer-child-stats-container::after {
        content: '';
        position: absolute;
        top: 98px;
        right: 0;
        width: calc(50vw - -304px);
        height: 2px;
        background: $primaryContent;
        opacity: .25;
    }

    &.marketing-stats-container::after {
        background: $marketingContent;
    }

    &.branding-stats-container::after {
        background: $brandingContent;
    }

    &.print-stats-container::after {
        background: $printContent;
    }
}

@media (min-width: 1280px) {
    .offer-child-stats-container::after {
        width: calc(50vw - -176px);
    }
}

@media (min-width: 1366px) {
    .offer-child-stats-container::after {
        width: calc(50vw - -157px);
    }
}