

.offer-child-why-trust-us {
    text-align: center;
    margin: 4rem 0;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    &__img {
        display: none;
    }

    .shops-why-trust-us &__title {
        color: $shopContent;
    }

    .shops-why-trust-us &__img {
        display: none;
    }
}

@media (min-width: 1024px) {
    .offer-child-why-trust-us {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto;

        &__header {
            max-width: 900px;
            margin-right: 0;
        }

        &__title {
            font-size: 3rem;
        }

        &__description {
            max-width: 650px;
        }

        &__img {
            display: block;
            width: 100%;
            margin-top: 2rem;
        }
    }
}