.offer-child-advantages {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    .shops-advantages &__title {
        color: $shopContent;
    }

    .marketing-advantages &__title {
        color: $marketingContent;
    }

    .branding-advantages &__title {
        color: $brandingContent;
    }

    .print-advantages &__title {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .offer-child-advantages {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            max-width: 800px;
            margin-right: 0;
        }

        &__title {
            font-size: 3rem;
        }

        & .triple-cards {
            margin: 4rem 0;

            &__item {
                text-align: left;
            }

            &__title {
                padding: 0 1rem;
            }
        }
    }

    .shops-advantages-container {
        position: relative;
    }

    .shops-advantages-container::after {
        content: '';
        position: absolute;
        top: 98px;
        right: 0;
        width: calc(50vw - -304px);
        height: 2px;
        background: $shopContent;
        opacity: .25;
    }
}

@media (min-width: 1280px) {

    .shops-advantages-container::after {
        width: calc(50vw - -177px);
    }
}

@media (min-width: 1366px) {

    .shops-advantages-container::after {
        width: calc(50vw - -158px);
    }
}