.offer-child-your-best {
    padding: 2rem 1rem;

    &__header {    
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    &__img-container {
        display: none;
    }

    &__btn {
        margin: 2rem auto 0;
        font-size: 20px;
    }

    &.about-us-visibility {
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    .offer-child-your-best {
        position: relative;
        padding: 12rem 2rem 8rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100px;
            width: 100%;
            max-width: 1600px;
            border-top-left-radius: 50px;
            background: url(assets/images/divider-background.webp);
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1300px;
            margin: 0 auto;
        }

        &__header {
            text-align: left;
            max-width: 400px;
            margin: 0;
        }

        &__img-container {
            display: block;
        }

        &__img {
            max-width: 100%;
            padding: 2rem;
        }

        &__btn {
            margin-right: 0;
        }

        .websites-your-best &__header {
            text-align: right;
            max-width: 650px;
        }

        .websites-your-best &__description {
            max-width: 550px;
            margin-right: 0;
            margin-left: auto;
        }

        &.shops-your-best::before {
            background: url(assets/images/divider-background-green.webp);
        }

        &.marketing-your-best::before {
            background: url(assets/images/divider-background-orange.webp);
        }

        &.branding-your-best::before {
            background: url(assets/images/divider-background-purple.webp);
        }

        &.print-your-best::before {
            background: url(assets/images/divider-background-red.webp);
        }

        &.about-us-visibility::before {
            display: none;
        }
    }
}