.offer-child-how-steps {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    .shops-how-steps &__title {
        color: $shopContent;
    }

    .marketing-how-steps &__title {
        color: $marketingContent;
    }

    .branding-how-steps &__title {
        color: $brandingContent;
    }

    .print-how-steps &__title {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .offer-child-how-steps {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            max-width: 640px;
            margin-right: 0;
        }

        &__title {
            font-size: 3rem;
        }

        .websites-how-steps &__description {
            max-width: 500px;
        }

        &.websites-how-steps::before {
            content: '';
            position: absolute;
            bottom: -125px;
            left: -25px;
            width: 300px;
            height: 250px;
            background-image: url('assets/images/dog-circles.webp');
            background-size: cover;
        }

        &.shops-how-steps::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -25px;
            width: 270px;
            height: 250px;
            background-image: url('assets/images/panther-circles-green.webp');
            background-size: cover;
        }

        .shops-how-steps &__description {
            max-width: 683px;
        }

        .marketing-how-steps &__description {
            max-width: 470px;
        }

        .branding-how-steps &__description {
            max-width: 470px;
        }
        
        .print-how-steps &__description {
            max-width: 470px;
        }
    }

    .offer-child-how-steps-container {
        position: relative;
    }

    .offer-child-how-steps-container::after {
        content: '';
        position: absolute;
        top: 98px;
        right: 0;
        width: calc(50vw - -142px);
        height: 2px;
        background: $primaryContent;
        opacity: .25;
    }

    .shops-how-steps-container::after {
        background: $shopContent;
    }

    .marketing-how-steps-container::after {
        background: $marketingContent;
    }

    .branding-how-steps-container::after {
        background: $brandingContent;
    }

    .print-how-steps-container::after {
        background: $printContent;
    }
}

@media (min-width: 1280px) {

    .offer-child-how-steps-container::after {
        width: calc(50vw - -14px);
    }
}

@media (min-width: 1366px) {

    .offer-child-how-steps-container::after {
        width: calc(50vw - 2px);
    }
}

@media (min-width: 1920px) {
    .offer-child-how-steps {

        &.websites-how-steps::before {
            bottom: -150px;
            left: -50px;
            width: 513px;
            height: 419px;
        }

        &.shops-how-steps::before {
            left: 50px;
            bottom: -50px;
            width: 447px;
            height: 415px;
        }
    }
}