.offer-child-contact-us {
    text-align: center;
    margin: 4rem 0;
    color: $lightContent;
    background: linear-gradient($primaryGradientStart, $primaryGradientEnd);

    &__container {
        padding: 2rem 1rem;
    }

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    &__btn {
        font-size: 20px;
        margin: 2rem auto 0;

        &::before {
            right: -10px;
            width: 90px;
            height: 90px;
            background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);
        }
    }

    &.shops-contact-us {
        background: linear-gradient($shopGradientStart, $shopGradientEnd);
    }

    .shops-contact-us &__btn {
        color: $shopContent;
        &::before {
            background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
        }
    }

    &.marketing-contact-us {
        background: linear-gradient($marketingGradientStart, $marketingGradientEnd);
    }

    .marketing-contact-us &__btn {
        color: $marketingContent;
        &::before {
            background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
        }
    }

    &.branding-contact-us {
        background: linear-gradient($brandingGradientStart, $brandingGradientEnd);
    }

    .branding-contact-us &__btn {
        color: $brandingContent;
        &::before {
            background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
        }
    }

    &.print-contact-us {
        background: linear-gradient($printGradientStart, $printGradientEnd);
    }

    .print-contact-us &__btn {
        color: $printContent;
        &::before {
            background: linear-gradient(0, $printGradientStart, $printGradientEnd);
        }
    }

    .shops-contact-us &__btn,
    .marketing-contact-us &__btn,
    .branding-contact-us &__btn,
    .print-contact-us &__btn {
        font-size: 18px;
    }

    .branding-contact-us &__description {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .offer-child-contact-us {
        position: relative;
        text-align: left;
        max-width: 1600px;
        margin: 4rem 0 4rem auto;
        padding: 12rem 0 6rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 150px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100px;
            width: 100%;
            border-top-left-radius: 50px;
            background-image: url('assets/images/divider-background.webp');
            background-repeat: no-repeat;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            max-width: 1300px;
            margin: 0 auto;
            padding: 2rem;
        }

        &__header {
            margin: 0;
        }

        &__btn {
            margin: 0;
        }

        &.shops-contact-us::before {
            background-image: url('assets/images/divider-background-green.webp');
        }

        &.marketing-contact-us::before {
            background-image: url('assets/images/divider-background-orange.webp');
        }

        &.branding-contact-us::before {
            background-image: url('assets/images/divider-background-purple.webp');
        }

        &.print-contact-us::before {
            background-image: url('assets/images/divider-background-red.webp');
        }
    }
}