.offer-child-advantages {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-size: 3rem;
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .offer-child-advantages {
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            max-width: 800px;
            margin-right: 0;
        }

        & .triple-cards {
            margin: 4rem 0;

            &__item {
                text-align: left;
            }

            &__title {
                padding: 0 1rem;
            }
        }
    }
}