.offer-child-form {
    text-align: center;
    padding: 2rem 0;
    color: $lightContent;
    background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);

    &__title {
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &.shops-form {
        background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
    }

    &.shops-form .btn {
        color: $shopContent;
    }

    &.marketing-form {
        background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
    }

    &.marketing-form .btn {
        color: $marketingContent;
    }

    &.branding-form {
        background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
    }

    &.branding-form .btn {
        color: $brandingContent;
    }

    &.print-form {
        background: linear-gradient(0, $printGradientStart, $printGradientEnd);
    }

    &.print-form .btn {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .offer-child-form {
        position: relative;
        max-width: 1600px;
        padding: 4rem 0 10rem;
        border-top-right-radius: 150px;
        border-bottom-right-radius: 50px;
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100px;
            width: 100%;
            border-bottom-right-radius: 50px;
            background: url('assets/images/divider-background.webp');
        }

        &__title {
            max-width: 800px;
            margin-left: auto;
            margin-right: 0;
            padding-right: 8rem;
            font-size: 3rem;
        }

        &.shops-form::after {
            background: url('assets/images/divider-background-green.webp');
        }

        &.marketing-form::after {
            background: url('assets/images/divider-background-orange.webp');
        }

        &.branding-form::after {
            background: url('assets/images/divider-background-purple.webp');
        }

        &.print-form::after {
            background: url('assets/images/divider-background-red.webp');
        }
    }

    .form-group {
        width: 100%;

        & .btn {
            align-self: flex-end;
        }
    }
}

.offer-child-form-2 {
    position: relative;
    top: 100px;

    &.offer-child-form {
        border-bottom-right-radius: 0;
    }

    &.offer-child-form::after {
        content: none;
    }
}