.offer-child-encouragement {
    padding: 2rem 1rem;

    &__header {    
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    &__img-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .offer-child-encouragement {
        position: relative;
        padding: 12rem 2rem 8rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100px;
            width: 100%;
            max-width: 1600px;
            border-top-left-radius: 50px;
            background: url('assets/images/divider-background.webp');
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1300px;
            margin: 0 auto;
        }

        &__header {
            text-align: left;
            max-width: 400px;
            margin: 0;
        }

        &__img-container {
            display: block;
        }

        &__img {
            max-width: 100%;
            padding: 2rem;
        }

        .shops-encouragement &__container {
            flex-direction: row-reverse;
        }

        .shops-encouragement &__header {
            text-align: right;
            max-width: 520px;
        }

        .branding-encouragement &__header {
            max-width: 550px;
        }

        .branding-encouragement &__description {
            max-width: 515px;
        }

        &.shops-encouragement::before {
            background: url('assets/images/divider-background-green.webp');
        }
        
        &.marketing-encouragement::before {
            background: url('assets/images/divider-background-orange.webp');
        }
        
        &.marketing-encouragement::before {
            background: url('assets/images/divider-background-orange.webp');
        }
        
        &.branding-encouragement::before {
            background: url('assets/images/divider-background-purple.webp');
        }
        
        &.print-encouragement::before {
            background: url('assets/images/divider-background-red.webp');
        }
    }
}