.our-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    &__item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 1rem 0;
    }

    &__img {
        width: 100%;
        border-radius: 20px;
    }
}

@media (min-width: 1024px) {
    .our-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        position: relative;
        top: 4rem;
        max-width: none;
        max-width: 1300px;
        margin: 0 auto;

        &__item {
            padding: 0;
        }
    }
}