.our-projects-child-footer {
    text-align: center;
    padding: 1rem;

    &__heading {
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__btn {
        margin: 2rem auto 0;
    }
}