.page-banner-no-img {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 0;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-no-img {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            flex-basis: 50%;
            max-width: 400px;
            margin: 0;
        }

        &__title {
            letter-spacing: 4px;
        }
    }
}

.page-banner-motto {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__img-container {
        display: none;
    }

    &__title {
        font-size: 100px;
    }

    &__motto-container {
        max-width: 600px;
        margin: 0 auto;
    }

    &__motto {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .page-banner-motto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        max-width: 1300px;
        margin: 0 auto;

        &__img-container {
            display: block;
            flex-basis: 45%;
        }

        &__title {
            color: $primaryContent;
            line-height: 1;
            text-transform: uppercase;
        }

        &__img {
            position: relative;
            top: 23px;
            width: 100%;
        }

        &__motto-container {
            flex-basis: 45%;
        }
    }
}

.page-banner-img {
    
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;

    &__img {
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
    }

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        margin-top: 2rem;
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__img-container {
            flex-basis: 45%;
        }

        &__header {
            flex-basis: 45%;
            max-width: 500px;
            margin: 0;
        }

        &__title {
            margin-top: 0;
            font-size: 3rem;
        }
    }
}



@media (min-width: 1024px) {
    .shops-page-header {
        align-items: center;

        & .page-banner-motto {
    
            &__img-container {
                flex-basis: 55%;
            }

            &__img {
                top: 17px;
            }

            &__title {
                color: $shopContent;
                font-size: 3rem;
            }
            
            &__motto-container {
                flex-basis: 35%;
            }
        }
    }
}



@media (min-width: 1024px) {
    .branding-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
                color: $brandingContent;
            }
        }
    }
}



@media (min-width: 1024px) {
    .print-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
                color: $printContent;
            }
        }
    }
}



.polska-kulturalna-page-header {
    & .page-banner-no-img {
        &__title {
            color: $polskaKulturalnaContent;
        }
    }
}



.artur-kucharzyk-page-header {
    & .page-banner-no-img {
        &__title {
            color: $arturKucharzykContent;
        }
    }
}



.allplans-page-header {
    & .page-banner-no-img {
        &__title {
            color: $allplansContent;
        }
    }
}



.pogotowie-warzywne-page-header {
    & .page-banner-no-img {
        &__header {
            max-width: 460px;
        }

        &__title {
            color: $pogotowieWarzywneContent;
        }
    }
}



.zdrojowisko-page-header {
    & .page-banner-no-img {
        &__title {
            color: $zdrojowiskoContent;
        }
    }
}



.elproma-page-header {
    & .page-banner-no-img {
        &__title {
            color: $elpromaContent;
        }
    }
}



.boram-page-header {
    & .page-banner-no-img {
        &__title {
            color: $boramContent;
        }
    }
}



.magnum-page-header {
    & .page-banner-no-img {
        &__title {
            color: $magnumContent;
        }
    }
}



.vidok-page-header {
    & .page-banner-no-img {
        &__title {
            color: $vidokContent;
        }
    }
}



.rodo-maruta-page-header {
    & .page-banner-no-img {
        &__title {
            color: $rodoMarutaContent;
        }
    }
}



.gamrat-wpc-page-header {
    & .page-banner-no-img {
        &__title {
            color: $gamratWpcContent;
        }
    }
}



.single-post-page-header {
    & .page-banner-no-img {
        &__header {
            max-width: 1000px;
        }
    }
}



.career-page-header {
    & .page-banner-img {
        &__header {
            max-width: 600px;
        }
    }
}



@media (min-width: 1024px) {
    .marketing-page-header {
        & .page-banner-motto {
            &__img {
                top: 17px;
            }
            
            &__title {
                color: $marketingContent;
            }
        }
    }
}