.page-banner-no-img {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 0;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-no-img {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            flex-basis: 50%;
            max-width: 400px;
            margin: 0;
        }

        &__title {
            letter-spacing: 4px;
        }

        .projects-child-header-container &__title {
            font-size: 48px;
        }
    }
}

.page-banner-motto {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__img-container {
        width: 100%;
        margin-bottom: 100px;
    }

    &__img {
        width: 100%;
    }

    &__title {
        color: $primaryContent;
        font-size: 100px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__motto-container {
        max-width: 600px;
        margin: 0 auto;
    }

    &__motto {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .shops-page-header &__title {
        color: $shopContent;
    }

    .marketing-page-header &__title {
        text-align: left;
        color: $marketingContent;
    }

    .marketing-page-header &__description {
        max-width: 350px;
        margin-left: auto;
    }

    .branding-page-header &__title {
        color: $brandingContent;
    }

    .print-page-header &__title {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .page-banner-motto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        max-width: 1300px;
        margin: 0 auto;

        &__img-container {
            display: block;
            flex-basis: 45%;
        }

        &__img {
            position: relative;
            top: 23px;
            width: 100%;
        }

        &__motto-container {
            flex-basis: 45%;
        }

        .marketing-page-header &__title {
            position: relative;
            left: 110px;
        }

        .branding-page-header &__description {
            max-width: 374px;
            margin-left: auto;
            margin-right: 0;
        }

        .print-page-header &__description {
            max-width: 361px;
            margin-left: auto;
            margin-right: 0;
        }

        .print-page-header &__img-container {
            flex-basis: 62%;
        }
    }
}

@media (min-width: 1280px) {
    .page-banner-motto {

        .shops-page-header &__img-container {
            margin-top: 85px;
        }

        .shops-page-header &__title {
            position: absolute;
        }
    }
}

@media (min-width: 1366px) {
    .page-banner-motto {
        .websites-page-header &__img-container {
            flex-basis: 56%;
        }
    }
}

@media (min-width: 1440px) {
    .page-banner-motto {

        .shops-page-header &__img-container {
            margin-top: 130px;
        }
    }
}

.page-banner-img {
    
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;

    &__img {
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
    }

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        margin-top: 2rem;
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__img-container {
            flex-basis: 45%;
        }

        &__header {
            flex-basis: 45%;
            max-width: 500px;
            margin: 0;
        }

        &__title {
            margin-top: 0;
            font-size: 3rem;
        }

        .projects-page-banner-img &__header {
            max-width: 550px;
        }

        &-container.projects-page-banner-img-container {
            position: relative;
            padding-bottom: 100px;
        }

        &-container.projects-page-banner-img-container::after {
            content: '';
            position: absolute;
            top: 170px;
            right: 0;
            width: calc(50vw - 34px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        &-container.offer-page-header-container {
            position: relative;
        }

        &-container.offer-page-header-container::before {
            content: '';
            position: absolute;
            top: 172px;
            right: 0;
            width: calc(50vw - 34px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        .offer-page-header &__description {
            max-width: 422px;
        }

        &-container.blog-page-header-container {
            position: relative;
        }

        &-container.blog-page-header-container::before {
            content: '';
            position: absolute;
            top: 100px;
            right: 0;
            width: calc(50vw - 34px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        &-container.about-us-page-header-container {
            position: relative;
        }

        &-container.about-us-page-header-container::before {
            content: '';
            position: absolute;
            top: 68px;
            right: 0;
            width: calc(50vw - 45px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        &-container.career-page-header-container {
            position: relative;
        }

        &-container.career-page-header-container::before {
            content: '';
            position: absolute;
            top: 211px;
            right: 0;
            width: calc(50vw - 35px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }
    }
}

@media (min-width: 1280px) {
    .page-banner-img {

        &.contact-page-header {
            margin: 8rem auto 0 2rem;
        }

        &-container.projects-page-banner-img-container::after {
            width: calc(50vw - 42px);
        }

        &-container.offer-page-header-container::before {
            width: calc(50vw - 80px);
        }

        &-container.blog-page-header-container::before {
            top: 120px;
            width: calc(50vw - 80px);
        }

        &-container.about-us-page-header-container::before {
            width: calc(50vw - 92px);
        }

        &-container.career-page-header-container::before {
            top: 192px;
            width: calc(50vw - 43px);
        }
    }
}

@media (min-width: 1366px) {
    .page-banner-img {

        &-container.projects-page-banner-img-container::after {
            width: calc(50vw - 55px);
        }

        &-container.offer-page-header-container::before {
            width: calc(50vw - 92px);
        }

        &-container.blog-page-header-container::before {
            top: 120px;
            width: calc(50vw - 92px);
        }

        &-container.about-us-page-header-container::before {
            width: calc(50vw - 105px);
        }
    }
}

@media (min-width: 1024px) {
    .shops-page-header {
        align-items: center;

        & .page-banner-motto {
    
            &__img-container {
                flex-basis: 55%;
            }

            &__img {
                top: 17px;
            }
            
            &__motto-container {
                flex-basis: 35%;
            }

            &__description {
                max-width: 350px;
                margin-left: auto;
            }
        }
    }
}



@media (min-width: 1024px) {
    .branding-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
            }
        }
    }
}



@media (min-width: 1024px) {
    .print-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
            }
        }
    }
}



.polska-kulturalna-page-header {
    & .page-banner-no-img {
        &__title {
            color: $polskaKulturalnaContent;
        }
    }
}



.artur-kucharzyk-page-header {
    & .page-banner-no-img {
        &__title {
            color: $arturKucharzykContent;
        }
    }
}



.allplans-page-header {
    & .page-banner-no-img {
        &__title {
            color: $allplansContent;
        }
    }
}



.pogotowie-warzywne-page-header {
    & .page-banner-no-img {
        &__header {
            max-width: 460px;
        }

        &__title {
            color: $pogotowieWarzywneContent;
        }
    }
}



.zdrojowisko-page-header {
    & .page-banner-no-img {
        &__title {
            color: $zdrojowiskoContent;
        }
    }
}



.elproma-page-header {
    & .page-banner-no-img {
        &__title {
            color: $elpromaContent;
        }
    }
}



.boram-page-header {
    & .page-banner-no-img {
        &__title {
            color: $boramContent;
        }
    }
}



.magnum-page-header {
    & .page-banner-no-img {
        &__title {
            color: $magnumContent;
        }
    }
}



.vidok-page-header {
    & .page-banner-no-img {
        &__title {
            color: $vidokContent;
        }
    }
}



.rodo-maruta-page-header {
    & .page-banner-no-img {
        &__title {
            color: $rodoMarutaContent;
        }
    }
}



.gamrat-wpc-page-header {
    & .page-banner-no-img {
        &__title {
            color: $gamratWpcContent;
        }
    }
}



.single-post-page-header {
    & .page-banner-no-img {
        &__header {
            flex-basis: initial;
            max-width: 1000px;
        }
    }
}



.career-page-header {
    & .page-banner-img {
        &__header {
            max-width: 600px;
        }
    }
}



@media (min-width: 1024px) {
    .marketing-page-header {
        & .page-banner-motto {
            &__img {
                top: 17px;
            }
            
            &__title {
                color: $marketingContent;
            }
        }
    }
}

@media (min-width: 1024px) {

    .projects-child-header-container {
        position: relative;

        & .page-banner-no-img {
            max-width: 1000px;
        }
    }

    .projects-child-header-container::after {
        content: '';
        position: absolute;
        top: 85px;
        right: 0;
        width: calc(50vw - 91px);
        height: 2px;
        background: $primaryContent;
        opacity: .25;
    }

    .allplans-page-header-container::after {
        background: $allplansContent;
    }

    .allplans-content {
        position: relative;
    }

    .artur-kucharzyk-page-header-container::after {
        background: $arturKucharzykContent;
    }

    .elproma-page-header-container::after {
        background: $elpromaContent;
    }

    .boram-page-header-container::after {
        background: $boramContent;
    }

    .gamrat-wpc-page-header-container::after {
        background: $gamratWpcContent;
    }

    .magnum-page-header-container::after {
        background: $magnumContent;
    }

    .pogotowie-warzywne-page-header-container::after {
        width: calc(50vw - -234px);
        background: $pogotowieWarzywneContent;
    }

    .polska-kulturalna-page-header-container .page-banner-no-img__header,
    .pogotowie-warzywne-page-header-container .page-banner-no-img__header {
        flex-basis: 75%;
        max-width: 900px;
    }

    .polska-kulturalna-page-header-container::after {
        top: 85px;
        width: calc(50vw - -234px);
        background: $polskaKulturalnaContent;
    }

    .rodo-maruta-page-header-container::after {
        background: $rodoMarutaContent;
    }

    .vidok-page-header-container::after {
        background: $vidokContent;
    }

    .zdrojowisko-page-header-container::after {
        background: $zdrojowiskoContent;
    }
}

@media (min-width: 1440px) {

    .allplans-content::before {
        content: url('assets/images/allplans-circles.webp');
        position: absolute;
        top: 0;
        right: 900px;
        z-index: -1;
    }

    .allplans-content::after {
        content: url('assets/images/allplans-tree-icon.webp');
        position: absolute;
        top: 800px;
        right: 1150px;
    }
}

@media (min-width: 1920px) {

    .allplans-content::before {
        content: url('assets/images/allplans-circles.webp');
        position: absolute;
        top: 0;
        right: 1300px;
    }

    .allplans-content::after {
        content: url('assets/images/allplans-tree-icon.webp');
        position: absolute;
        top: 800px;
        right: 1380px;
    }
}