.page-banner-no-img {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-weight: normal;
        letter-spacing: 0;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-no-img {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__header {
            flex-basis: 50%;
            max-width: 400px;
            margin: 0;
        }

        &__title {
            letter-spacing: 4px;
        }
    }
}

.page-banner-motto {
    text-align: center;
    margin-top: 4rem;
    padding: 1rem;

    &__img-container {
        width: 100%;
        margin-bottom: 100px;
    }

    &__img {
        width: 100%;
    }

    &__title {
        color: $primaryContent;
        font-size: 100px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__motto-container {
        max-width: 600px;
        margin: 0 auto;
    }

    &__motto {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .shops-page-header &__title {
        color: $shopContent;
    }

    .marketing-page-header &__title {
        text-align: left;
        color: $marketingContent;
    }

    .marketing-page-header &__description {
        max-width: 350px;
        margin-left: auto;
    }

    .branding-page-header &__title {
        color: $brandingContent;
    }

    .print-page-header &__title {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .page-banner-motto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        max-width: 1300px;
        margin: 0 auto;

        &__img-container {
            display: block;
            flex-basis: 45%;
        }

        &__img {
            position: relative;
            top: 23px;
            width: 100%;
        }

        &__motto-container {
            flex-basis: 45%;
        }
    }
}

.page-banner-img {
    
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;

    &__img {
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
    }

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        margin-top: 2rem;
        font-weight: normal;
        letter-spacing: 4px;
        color: $primaryContent;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .page-banner-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        max-width: 1300px;
        margin: 8rem auto 0;

        &__img-container {
            flex-basis: 45%;
        }

        &__header {
            flex-basis: 45%;
            max-width: 500px;
            margin: 0;
        }

        &__title {
            margin-top: 0;
            font-size: 3rem;
        }

        &-container.blog-page-header-container {
            position: relative;
        }

        &-container.blog-page-header-container::before {
            content: '';
            position: absolute;
            top: 100px;
            right: 0;
            width: calc(50vw - 34px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        &-container.about-us-page-header-container {
            position: relative;
        }

        &-container.about-us-page-header-container::before {
            content: '';
            position: absolute;
            top: 68px;
            right: 0;
            width: calc(50vw - 45px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        &-container.career-page-header-container {
            position: relative;
        }

        &-container.career-page-header-container::before {
            content: '';
            position: absolute;
            top: 211px;
            right: 0;
            width: calc(50vw - 35px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }
    }
}

@media (min-width: 1280px) {
    .page-banner-img {

        &-container.blog-page-header-container::before {
            top: 120px;
            width: calc(50vw - 80px);
        }

        &-container.about-us-page-header-container::before {
            width: calc(50vw - 92px);
        }

        &-container.career-page-header-container::before {
            top: 192px;
            width: calc(50vw - 43px);
        }
    }
}

@media (min-width: 1366px) {
    .page-banner-img {

        &-container.blog-page-header-container::before {
            top: 120px;
            width: calc(50vw - 92px);
        }

        &-container.about-us-page-header-container::before {
            width: calc(50vw - 105px);
        }
    }
}

@media (min-width: 1024px) {
    .shops-page-header {
        align-items: center;

        & .page-banner-motto {
    
            &__img-container {
                flex-basis: 55%;
            }

            &__img {
                top: 17px;
            }
            
            &__motto-container {
                flex-basis: 35%;
            }

            &__description {
                max-width: 350px;
                margin-left: auto;
            }
        }
    }
}



@media (min-width: 1024px) {
    .branding-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
            }
        }
    }
}



@media (min-width: 1024px) {
    .print-page-header {
        & .page-banner-motto {
            &__title {
                text-align: center;
            }
        }
    }
}



.polska-kulturalna-page-header {
    & .page-banner-no-img {
        &__title {
            color: $polskaKulturalnaContent;
        }
    }
}



.artur-kucharzyk-page-header {
    & .page-banner-no-img {
        &__title {
            color: $arturKucharzykContent;
        }
    }
}



.allplans-page-header {
    & .page-banner-no-img {
        &__title {
            color: $allplansContent;
        }
    }
}



.pogotowie-warzywne-page-header {
    & .page-banner-no-img {
        &__header {
            max-width: 460px;
        }

        &__title {
            color: $pogotowieWarzywneContent;
        }
    }
}



.zdrojowisko-page-header {
    & .page-banner-no-img {
        &__title {
            color: $zdrojowiskoContent;
        }
    }
}



.elproma-page-header {
    & .page-banner-no-img {
        &__title {
            color: $elpromaContent;
        }
    }
}



.boram-page-header {
    & .page-banner-no-img {
        &__title {
            color: $boramContent;
        }
    }
}



.magnum-page-header {
    & .page-banner-no-img {
        &__title {
            color: $magnumContent;
        }
    }
}



.vidok-page-header {
    & .page-banner-no-img {
        &__title {
            color: $vidokContent;
        }
    }
}



.rodo-maruta-page-header {
    & .page-banner-no-img {
        &__title {
            color: $rodoMarutaContent;
        }
    }
}



.gamrat-wpc-page-header {
    & .page-banner-no-img {
        &__title {
            color: $gamratWpcContent;
        }
    }
}



.single-post-page-header {
    & .page-banner-no-img {
        &__header {
            flex-basis: initial;
            max-width: 1000px;
        }
    }
}



.career-page-header {
    & .page-banner-img {
        &__header {
            max-width: 600px;
        }
    }
}



@media (min-width: 1024px) {
    .marketing-page-header {
        & .page-banner-motto {
            &__img {
                top: 17px;
            }
            
            &__title {
                color: $marketingContent;
            }
        }
    }
}