.portraits {
    &__item {
        position: relative;
        max-width: 300px;
        margin: 8rem auto 0;
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 4rem;
        left: 50%;
        height: 90%;
        width: 100%;
        background: $whiteBackground;
        border-radius: 20px;
        z-index: -1;
        transform: translateX(-50%);
    }

    &__item-img-container {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }

    &__item-img-container::before {
        content: '';
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 200px;
        background: $halo;
        z-index: -1;
    }

    &__item-name {
        margin-top: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__item-position {
        display: block;
        margin-top: 1rem;
    }
}

@media (min-width: 1024px) {
    .portraits {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        
        &__item {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 230px;
        }
    }
}

@media (min-width: 1440px) {
    .portraits {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        
        &__item {
            max-width: 270px;
        }

        &__item::before {
            width: 110%;
        }
    }
}