.questions-contact {
    padding: 4rem 1rem;
    
    &__header {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__description {
        margin-top: 2rem;
    }

    &__btn {
        margin: 2rem auto 0;
    }
}

@media (min-width: 1024px) {
    .questions-contact {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding: 4rem 2rem;

        &__header {
            text-align: left;
            max-width: 550px;
            margin: 0;
        }

        &__title {
            font-weight: normal;
        }

        &__btn {
            margin: 0;
        }
    }
}