.section-background {
    text-align: center;
    padding: 4rem 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        color: $primaryContent;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 1rem;
    }

    &__btn {
        display: block;
        margin: 2rem auto 0;
        color: $primaryContent;
        font-family: 'Annie Use Your Telescope', cursive;
        text-transform: lowercase;
    }

    .shops-section-background &__title {
        color: $shopContent;
    }

    .career-section-background &__title {
        font-size: 30px;
    }

    .section-background-about-us &__paragraph,
    .career-section-background &__paragraph {
        max-width: 600px;
        margin: 2rem auto 0;
    }
}

@media (min-width: 1024px) {
    .section-background {
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: 0;
        padding: 4rem 2rem 0;
        background: transparent;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            width: 73%;
            height: 55%;
            top: 0;
            right: 0;
            background: $whiteBackground;
            border-top-left-radius: 150px;
            z-index: -1;
        }

        &__header {
            max-width: 1300px;
        }

        &__title {
            position: relative;
            width: 65%;
            max-width: 600px;
            margin-right: 0;
            margin-left: auto;
            font-size: 3rem;
            font-weight: normal;
        }

        &__description {
            max-width: 600px;
            margin-right: 0;
            margin-left: auto;
        }

        &__btn-container {
            max-width: 1300px;
            margin: 0 auto;
        }

        &__btn {
            text-align: right;
            margin-right: 0;
            margin-left: auto;
        }

        &.home-section-background::after {
            content: '';
            position: absolute;
            top: 115px;
            right: 0;
            width: calc(50vw - -111px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        .section-background-websites &__description-container {
            max-width: 600px;
            margin-right: 0;
            margin-left: auto;
        }

        .section-background-websites &__description {
            max-width: 550px;
            margin-left: 0;
        }

        &.section-background-websites {
            margin-bottom: 200px;
        }

        &.section-background-websites::after {
            content: '';
            position: absolute;
            top: 137px;
            right: 0;
            width: calc(50vw - -116px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        .projects-section-background {
            margin: 8rem 0;
        }

        .projects-section-background &__title {
            max-width: 850px;
        }

        &.section-background-about-us {
            margin: 8rem 0;
        }

        &.section-background-about-us::before {
            height: 110%;
        }

        .section-background-about-us &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            max-width: 1300px;
            margin: 1rem auto 0;
        }

        .section-background-about-us &__paragraph {
            margin: initial;
            margin-top: 2rem;
        }

        .career-section-background--mosaic {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 73%;
            height: 100px;
            background: url('assets/images/divider-background.webp');
        }

        &.single-post-see-more {
            padding: 4rem 2rem 1rem;
        }

        &.single-post-see-more::before {
            height: 100%;
        }

        &.career-section-background {
            padding: 4rem 2rem 164px;
            margin: 4rem 0;
        }

        &.career-section-background::before {
            height: 100%;
        }

        &.career-section-background::after {
            content: '';
            position: absolute;
            top: 102px;
            right: 0;
            width: calc(50vw - 177px);
            height: 2px;
            background: $primaryContent;
            opacity: .25;
        }

        .career-section-background &__text {
            max-width: 1300px;
            margin: 0 auto;
        }

        .career-section-background &__title {
            text-align: right;
        }

        .career-section-background &__paragraph {
            text-align: right;
            margin-right: 0;
        }

        &.internships-wings {
            margin: 8rem 0;
        }

        &.internships-wings:hover::before {
            background: linear-gradient($primaryGradientStart, $primaryGradientEnd);
        }

        .internships-wings &__title {
            text-align: right;
            font-size: 2rem;
        }

        .internships-wings:hover &__paragraph,
        .internships-wings:hover &__title {
            color: $lightContent;
        }

        .internships-wings &__paragraph {
            text-align: right;
            width: 70%;
            max-width: none;
        }

        &.internships-wings-left::before {
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 150px;
        }

        .internships-wings-left &__title {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
        }

        .internships-wings-left &__paragraph {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
        }

        &.projects-section-background::before {
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 150px;
        }

        .projects-section-background &__title {
            margin-left: 0;
        }

        &.projects-section-background::after {
            content: url('assets/images/circles-blue.webp');
            position: absolute;
            top: 350px;
            right: 100px;
            z-index: -2;
        }
    }
}

@media (min-width: 1280px) {
    .section-background {

        &.home-section-background::after {
            width: calc(50vw - 9px);
        }

        &.section-background-websites::after {
            width: calc(50vw - 9px);
        }
        
        &.career-section-background::after {
            width: calc(50vw - 305px);
        }
    }
}

@media (min-width: 1366px) {
    .section-background {

        &.home-section-background::after {
            width: calc(50vw - 53px);
        }

        &.section-background-websites::after {
            width: calc(50vw - 53px);
        }
        
        &.career-section-background::after {
            width: calc(50vw - 348px);
        }

        .career-section-background &__paragraph {
            max-width: 932px;
        }
    }
}

@media (min-width: 1440px) {
    .section-background {

        &.home-section-background::after {
            width: calc(50vw - 60px);
        }

        &.section-background-websites::after {
            width: calc(50vw - 60px);
        }
        
        &.career-section-background::after {
            width: calc(50vw - 357px);
        }
    }
}

@media (min-width: 1440px) {
    .section-background {

        .section-background-about-us &__text {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .section-background-about-us &__paragraph {
            max-width: 450px;
            padding: 1rem;
        }

        .section-background-about-us &__paragraph {
            max-width: 507px;
        }

        .section-background-about-us &__paragraph:first-child {
            text-align: right;
            max-width: 542px;
        }

        .internships-wings &__title {
            max-width: none;
        }
    }
}