.section-background {
    text-align: center;
    padding: 4rem 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        color: $primaryContent;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 1rem;
    }

    .shops-section-background &__title {
        color: $shopContent;
    }

    .section-background-about-us &__paragraph {
        max-width: 600px;
        margin: 2rem auto 0;
    }
}

@media (min-width: 1024px) {
    .section-background {
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: 0;
        padding: 4rem 2rem 0;
        background: transparent;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            width: 73%;
            height: 55%;
            top: 0;
            right: 0;
            background: $whiteBackground;
            border-top-left-radius: 150px;
            z-index: -1;
        }

        &__header {
            max-width: 1300px;
        }

        &__title {
            position: relative;
            width: 65%;
            max-width: 600px;
            margin-right: 0;
            margin-left: auto;
            font-size: 3rem;
            font-weight: normal;
        }

        &__description {
            max-width: 600px;
            margin-right: 0;
            margin-left: auto;
        }

        .projects-section-background {
            margin: 8rem 0;
        }

        .projects-section-background &__title {
            max-width: 850px;
        }

        &.section-background-about-us {
            margin: 8rem 0;
        }

        &.section-background-about-us::before {
            height: 110%;
        }

        .section-background-about-us &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            max-width: 1300px;
            margin: 1rem auto 0;
        }

        .section-background-about-us &__paragraph {
            margin: initial;
            margin-top: 2rem;
        }

        &.single-post-see-more {
            padding: 4rem 2rem 1rem;
        }

        &.single-post-see-more::before {
            height: 100%;
        }
    }
}

@media (min-width: 1440px) {
    .section-background {

        .section-background-about-us &__text {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .section-background-about-us &__paragraph {
            max-width: 450px;
            padding: 1rem;
        }
    }
}