.see-more-projects {
    padding: 2rem 0;

    &__decoration {
        display: none;
    }

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
        font-size: 14px;
    }

    &__btn {
        margin: 2rem auto 0;
        font-size: 20px;
    }

    &.about-us-see-our-projects {
        text-align: center;
        padding: 4rem 1rem;
    }
}

@media (min-width: 1024px) {
    .see-more-projects {
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding: 8rem 0;
        
        &__decoration {
            flex-basis: 50%;
            display: block;
        }

        &__img {
            width: 100%;
        }

        &__container {
            flex-basis: 50%;
            margin-top: 4rem;
        }

        &__header {
            text-align: right;
        }

        &__title {
            font-weight: normal;
        }

        &__btn {
            margin-right: 0;
        }

        &.about-us-see-our-projects {
            align-items: center;
        }

        .about-us-see-our-projects &__header {
            text-align: left;
            max-width: 482px;
        }

        .about-us-see-our-projects &__description {
            text-align: left;
            max-width: 480px;
        }
    }
}