.services {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &__separator {
        display: none;
    }

    &__item {
        font-weight: bolder;

        &:hover {
            color: $darkContent;
        }
    }
}

.home-banner .services {
    align-items: center;
}

@media (min-width: 1440px) {
    .services {
        flex-direction: row;

        &__separator {
            display: inline;
            padding: 0 1rem;
        }
    }
}