.services-grid {
    text-align: center;

    &__item {
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem 0;
    }

    &__item-title {
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__item--websites &__item-title {
        color: $primaryContent;
    }

    &__item--shops &__item-title {
        color: $shopContent;
    }

    &__item--marketing &__item-title {
        color: $marketingContent;
    }

    &__item-description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        text-align: left;
        max-width: 1300px;
        margin: 0 auto;

        &__item {
            max-width: none;
        }

        &__item-title {
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
    }
}