.stats {
    padding: 1rem 0;

    &__item {
        padding: 2rem 0;
    }

    &__item-chart {
        position: relative;
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

    &__item-value {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 46px;
        transform: translate(-50%, -50%);
    }

    &__item-label {
        display: block;
        margin-top: 2rem;
        font-size: 18px;
    }

    .marketing-stats &__item-value {
        color: $marketingContent;
    }

    .branding-stats &__item-value {
        color: $brandingContent;
    }

    .print-stats &__item-value {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .stats {
        display: flex;
        justify-content: space-between;
        padding: 4rem 1rem;

        &__item {
            text-align: center;
            padding: 2rem;
        }
    }
}