

.steps {
    padding: 1rem 0;
    
    &__item {
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem 0;
    }

    &__img {
        display: none;
    }

    &__count-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;
        margin: 0 auto;
        border-radius: 100px;
        background: $whiteBackground;
    }

    &__count {
        color: $primaryContent;
        font-size: 4rem;
    }

    &__title {
        margin-top: 2rem;
        font-size: 30px;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }

    .shops-how-steps &__count {
        color: $shopContent;
    }

    .marketing-how-steps &__count {
        color: $marketingContent;
    }

    .branding-how-steps &__count {
        color: $brandingContent;
    }
    
    .print-how-steps &__count {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .steps {
        &__item {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            max-width: 1000px;
            margin: 0;
        }

        &__item:nth-child(2) {
            margin-left: 50px;
        }

        &__item:nth-child(3) {
            margin-left: 100px;
        }

        &__item:nth-child(4) {
            margin-left: 150px;
        }

        &__item:nth-child(5) {
            margin-left: 200px;
        }

        &__content {
            text-align: left;
            max-width: 568px;
            margin-left: 100px;
        }

        &__item:nth-child(2) &__content {
            max-width: 600px;
        }

        &__item:nth-child(3) &__content {
            max-width: 625px;
        }

        &__img {
            display: block;
            width: 300px;
        }

        &__count {
            position: relative;
            transition: all .25s ease;
        }

        &__count-container {
            margin: 0;
        }

        &__item:hover &__count {
            color: $lightBackground;
            font-size: 6rem;
            transform: translateY(43px);
            transition: all .25s ease;
        }

        &__item:hover &__count-container {
            background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);
        }

        .shops-how-steps &__item:hover &__count-container {
            background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
        }

        .marketing-how-steps &__item:hover &__count-container {
            background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
        }

        .branding-how-steps &__item:hover &__count-container {
            background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
        }

        .print-how-steps &__item:hover &__count-container {
            background: linear-gradient(0, $printGradientStart, $printGradientEnd);
        }

        .shops-how-steps &__item:nth-child(1) &__content {
            max-width: 900px;
            margin-left: 100px;
        }

        .shops-how-steps &__item:nth-child(1) &__description {
            max-width: 590px;
        }

        .shops-how-steps &__item:nth-child(2) &__content {
            max-width: 700px;
            margin-left: 100px;
        }

        .shops-how-steps &__item:nth-child(4) &__content {
            max-width: 528px;
        }

        .marketing-how-steps &__item:nth-child(3) &__content {
            max-width: 654px;
        }

        .marketing-how-steps &__item:nth-child(4) &__content {
            max-width: 505px;
        }

        .marketing-how-steps &__item:nth-child(5) &__content {
            max-width: 494px;
        }

        .branding-how-steps &__item:nth-child(1) &__content {
            max-width: 578px;
        }

        .branding-how-steps &__item:nth-child(2) &__title {
            max-width: 500px;
        }

        .branding-how-steps &__item:nth-child(3) &__content {
            max-width: 650px;
        }

        .branding-how-steps &__item:nth-child(3) &__title {
            max-width: 350px;
        }

        .branding-how-steps &__item:nth-child(5) &__content {
            max-width: 478px;
        }

        .print-how-steps &__item:nth-child(3) &__content {
            max-width: 640px;
        }

        .print-how-steps &__item:nth-child(4) &__content {
            max-width: 535px;
        }

        .print-how-steps &__item:nth-child(5) &__content {
            max-width: 530px;
        }
    }
}