.testimonials {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &__item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 4rem 0;
    }

    &__img {
        width: 100%;
    }

    &__title {
        margin-top: 2rem;
        color: $primaryContent;
        font-size: 30px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .testimonials {
        justify-content: center;
        flex-direction: row;
        padding: 16rem 0 8rem;

        &__item {
            margin: 0 1rem;
            padding: 2rem;
        }
    }
}