.triple-cards-large {

    &__container {
        max-width: 500px;
        margin: 0 auto;
    }

    &__item {
        position: relative;
        text-align: center;
        padding: 2rem 1rem;
        margin: 2rem 0;
        border-radius: 0;
        background: $whiteBackground;
    }

    &__img {
        padding: 1rem;
        max-width: 100%;
        max-height: 400px;
        transition: all .25s ease-out;
    }

    &__title {
        margin-top: 1rem;
        color: $primaryContent;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    &__btn {
        display: block;
        margin-top: 2rem;
        color: $primaryContent;
    }

    &__item--shops &__title,
    &__item--shops &__btn {
        color: $shopContent;
    }

    &__item--marketing &__title,
    &__item--marketing &__btn {
        color: $marketingContent;
    }

    &__item--branding &__title,
    &__item--branding &__btn {
        color: $brandingContent;
    }

    &__item--print &__title,
    &__item--print &__btn {
        color: $printContent;
    }
}

@media (min-width: 1024px) {
    .triple-cards-large {
        padding: 0;
        background: $lightBackground;

        &__container {
            margin: 0;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: left;
            max-width: 1600px;
        }

        &__item:nth-child(even) {
            flex-direction: row-reverse;
            margin-left: auto;
        }

        &__description {
            padding: 0;
        }

        &__item:hover {
            background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);
            color: $lightContent;
    
            .triple-cards-large__img {
                transform: scale(1.2) translateY(-30px);
                transition: all .25s ease-out;
            }
    
            .triple-cards-large__title {
                color: $lightContent;
            }
    
            .triple-cards-large__btn {
                color: $lightContent;
            }
        }
    
        &__item--shops:hover {
            background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
        }
    
        &__item--marketing:hover {
            background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
        }
    
        &__item--branding:hover {
            background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
        }
    
        &__item--print:hover {
            background: linear-gradient(0, $printGradientStart, $printGradientEnd);
        }
    }
}