.triple-cards {
    padding: 1rem;

    &__item {
        position: relative;
        text-align: center;
        max-width: 400px;
        margin: 2rem auto;
        padding: 2rem 1rem;
        border-radius: 20px;
        background: $whiteBackground;
    }

    &__img {
        width: 100%;
        padding: 1rem;
        transition: all .25s ease-out;
    }

    &__title {
        margin-top: 1rem;
        color: $primaryContent;
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 2rem;
        padding: 0 .25rem;
    }

    &__description-strong {
        font-weight: bolder;
    }

    &__btn {
        display: block;
        margin-top: 2rem;
        color: $primaryContent;
    }

    &__item--shops &__title,
    &__item--shops &__btn {
        color: $shopContent;
    }

    &__item--marketing &__title,
    &__item--marketing &__btn {
        color: $marketingContent;
    }

    .shops-advantages &__title {
        color: $shopContent;
    }

    .marketing-advantages &__title {
        color: $marketingContent;
    }

    .branding-advantages &__title {
        color: $brandingContent;
    }

    .print-advantages &__title {
        color: $printContent;
    }

    .offer-child-advantages &__title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .triple-cards {
        display: flex;
        justify-content: center;

        &__item {
            flex-basis: 0;
            flex-grow: 1;
            margin: 0 1rem;
        }

        &__title {
            height: 92px;
        }

        &__item:hover {
            background: linear-gradient(0, $primaryGradientStart, $primaryGradientEnd);
            color: $lightContent;
    
            .triple-cards__img {
                transform: scale(1.2) translateY(-30px);
                transition: all .25s ease-out;
            }
    
            .triple-cards__title {
                color: $lightContent;
            }
    
            .triple-cards__btn {
                color: $lightContent;
            }
        }
    
        &__item--shops:hover {
            background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
        }
    
        &__item--marketing:hover {
            background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
        }

        .shops-advantages &__item:hover {
            background: linear-gradient(0, $shopGradientStart, $shopGradientEnd);
        }

        .offer-child-advantages &__title {
            height: 150px;
            width: 300px;
        }

        .marketing-advantages &__item:hover {
            background: linear-gradient(0, $marketingGradientStart, $marketingGradientEnd);
        }

        .branding-advantages &__item:hover {
            background: linear-gradient(0, $brandingGradientStart, $brandingGradientEnd);
        }

        .print-advantages &__item:hover {
            background: linear-gradient(0, $printGradientStart, $printGradientEnd);
        }
    }
}