.trusted-by {
    text-align: center;
    padding: 4rem 1rem;

    &__header {
        max-width: 600px;
        margin: 0 auto;
    }

    &__title {
        color: $primaryContent;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 1rem;
    }
}

@media (min-width: 1024px) {
    .trusted-by {
        margin: 0 auto;
        padding: 0;

        &__header {
            position: relative;
            text-align: right;
            max-width: none;
            margin-right: 0;
        }

        &__title {
            max-width: 1300px;
            margin: 0 auto;
            font-size: 3rem;
            font-weight: normal;
        }

        &__header::after {
            content: '';
            position: absolute;
            bottom: -8rem;
            right: 0;
            width: 100%;
            max-width: 1400px; 
            height: 100px;
            background: url(assets/images/divider-background.webp);
            border-top-left-radius: 150px;
        }
    }
}