.websites-opportunities {
    padding: 1rem;

    &__item {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    &__img {
        height: 1.5rem;
    }

    &__title {
        margin-top: 2rem;
        font-weight: normal;
    }

    &__description {
        margin-top: 2rem;
    }

    &__item:nth-child(1) &__img {
        width: 37px;
        height: 40px;
    }

    &__item:nth-child(2) &__img {
        width: 29px;
        height: 40px;
    }

    &__item:nth-child(3) &__img {
        width: 40px;
        height: 36px;
    }

    &__item:nth-child(4) &__img {
        width: 40px;
        height: 22px;
    }

    .shops-opportunities &__description {
        font-size: 14px;
    }

    .shops-opportunities &__item:nth-child(1) &__img {
        width: 40px;
        height: 40px;
    }

    .shops-opportunities &__item:nth-child(2) &__img {
        width: 40px;
        height: 36px;
    }

    .shops-opportunities &__item:nth-child(3) &__img {
        width: 40px;
        height: 35px;
    }

    .shops-opportunities &__item:nth-child(4) &__img {
        width: 40px;
        height: 22px;
    }
}

@media (min-width: 1024px) {
    .websites-opportunities {
        display: flex;

        max-width: 1300px;
        margin: 0 auto;
        margin-bottom: 100px;

        &__item {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}